body{
    margin: 0%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
}

body.home{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.account-btn{
    font-size: 2em;
}

.account-btn:hover{
    color: gray;
}

.buttons-container{
    padding: 10%;
    background-color: #1c73e6;
    border: #f5f5f5 solid, 2px;
}

.hamburger-container{
    position: fixed;
    display: none;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    z-index: 5;
}

.button-container{
    justify-self: flex;
}

.hamburger-container > ul {
    width: 100%;
    padding: 0;
    margin-top: 100px;
}

.hamburger-container > ul > li{
    display: block;
    width: 100%;
}

div#hamburger{
    display: none;
    height: 40px;
    z-index: 10;
}

.button-container{
    align-self: flex-end;
    margin-bottom: 1em;
    width: 180px;
}


#mainContainer{
    justify-self: flex-start;
}


#hamburger button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
}

#hamburger button span{
    border: 5px;
    background-color: black;
    display: block;
    width: 60%;
    height: 2px;
    margin: 5px auto;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.logo-home{
    margin-left: 1em;
    cursor: pointer;
}

header{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-container{
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(auto-fill, 11em);
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.item{
    /*flex-grow: 1;
    flex-basis: 0;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid gray 1px;
    padding: 1em;
    border-radius: 10px;
}

.item > p{
    align-self: flex-start;
}

.item > img{
    width: 100%;
    height: 170px;
    margin-bottom: 1em;
}

ul{
    list-style: none;
    padding-left: 4em;
}

li{
    display: inline-block;
    padding: .5em;
    margin: .5em;
}

.account-buttons{
    flex-grow: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.signIn-buttons{
    border: solid #58a700 1px;
    padding: .5em;
    text-align: center;
    border-radius: 5px;
}

.signIn-buttons:hover{
    background-color: #97e73b;
    border-color: #97e73b;
    color: white;
}

.loging-button{
    border: solid #1c73e6 1px;
    background-color: #3e8df5;
    color: white;
}

.loging-button:hover{
    background-color: #1c73e6;
    border-color: #1c73e6;
}

a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #050505;
}

.loging-button > a{
    color: white;
}

.main-bar-section:hover{
    text-decoration: underline;
    color: gray;
}

footer{
    min-width: 100%;
    padding: 1em;
    text-align: center;
    align-self: flex-end;
    background-color: white;
    box-sizing: border-box;
}

footer > p{
    margin-top: 3em;
    color: gray;
    font-size: 12px;
}

.footer-options-container{
    display: flex;
    margin-top: 3em;
    padding-bottom: 2em;
    border-bottom: lightgray solid 1px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-options-container > img{
    filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
    padding: 0 5% 0 5%;
    width: 15%;
    height: 15%;
}

.footer-options{
    flex-grow: 1;
    flex-basis: 0%;
    align-self: flex-end;
    display: flex;
    gap: 1.5em;
    color: white;
}

.footer-options > a{
    color: #050505;

}

.social-networks{
    flex-grow: 1;
    flex-basis: 0%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.right{
    justify-content: flex-end;
}


.social-networks > i{
    font-size: 35px;
    cursor: pointer;
}

.social-networks > i:hover{
    font-size: 35px;
    color: gray;
    cursor: pointer;
    transition: 1s all;
}

footer.home{
    align-self: flex-end;
    width: 100%;
}

@media screen and (max-width: 320px){
    .footer-options{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 800px){
    .footer-options-container > img{
        display: none;
    }

    .footer-options{
        margin-top: 2em;
        margin-left: 1em;
    }

    .right{
        justify-content: flex-start;
    }

    nav{
        display: none;
    }

    img.logo-home{
        padding: 1em;
    }
}

@media screen and (max-width: 360px){
    .products-container{
        grid-template-columns: repeat(1 , 1fr);
        margin: 1em;
    }

    #hamburger{
        left: 1px;
        top: 1em;
    }
}
@media screen and (max-width: 600px){
    header{
        justify-content: center;
    }

    .logo-home, ul{
        padding: 0%;
        margin: 0%;
    }

    .account-buttons{
        display: none;
    }

    .hamburger-container{
        width: 60%;
    }

    #hamburger{
        position: absolute;
        top: 1em;
        left: 1em;
    }

    .hamburger-container.open{
        display: flex;
    }

    div#hamburger{
        display: block;
    }

    #hamburger.open{
        position: fixed;
    }
    
}

.hamburger-container.open{
    display: flex;
}

#hamburger button.open .line-top{
    animation-name: line-top-animation;
}

#hamburger button.open .line-middle{
    animation-name: line-middle-animation;
}

#hamburger button.open .line-bottom{
    animation-name: line-bottom-animation;
}

#hamburger button .line-top{
    animation-name: line-top-animation-close;
}

#hamburger button .line-middle{
    animation-name: line-middle-animation-close;
}

#hamburger button .line-bottom{
    animation-name: line-bottom-animation-close;
}

@keyframes line-top-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(1px) rotate(-45deg);
    }
}

@keyframes line-bottom-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-1px) rotate(45deg);
    }
}
@keyframes line-middle-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@keyframes line-top-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(1px) rotate(-45deg);
    }

    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes line-bottom-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-1px) rotate(45deg);
    }

    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0);
    }
}
@keyframes line-middle-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        height: 0;
        opacity: 0;
    }

    20%, 100%{
        margin: 5px auto;
        width: 60%;
        height: 2px;
        opacity: 1;
    }
}


/*el position relative es relativo al padre conserva su lugar  y espacio reservado, para manejar
porcentajes en la altura solo se necesita declarar la 
altura al padre
.test{
    position: relative;
    left: 50%;
    top: 50%;
}
*/

/*Puedes romper el flujo tan solo 
poner un float rigth
y el siguiente elemento se ante pondra*/


/*adsoluted: sus dimensiones se dan de acuerdo a su contenido
su pocisionamiento al padre mas cercano con fixed, relative y adsulote
va desde cercas a lejos en su busqueda
se sale del flujo por lo cual su espacio en su padre se pierde*/

/*fixed es igual que adsolute pero su
pocisionamiento esta definido por la pantalla*/

/*float se usa para cajas con iguales dimenciones en un grid
inline se usa para cajas con diferentes alturas.
se arregla con vertical-aling*/
/* respeta el widht establecido sin sumar el padding y margines.
body{
    box-sizing: border-box;
}
*/