section{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0 2%;
}

.contenedor{
    width: 100%;
    padding: 55px;
    box-sizing: border-box;
}

.form-container{
    width: 100vw;
}

.formulario{
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 5% auto;
}

.input-contenedor{
    margin-bottom: 50px;
    width: 40%;
}

.input-contenedor > input{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: rgb(177, 177, 177) solid 1px;
    font-size: 1.2em;
}

.button{
    padding: 10px;
    font-size: 1em;
    color: aliceblue;
    background-color: #016db6;
    border-radius: 5px;
    cursor: pointer;
}

.input-contenedor > input:focus{
    border-bottom: blueviolet solid 2px;
}

.input-contenedor.group{
    display: inline-block;
    margin-right: 30px;
}

h1{
    margin-top: 10px;
    color: #1a2537;
    font-size: 24px;
}

@media screen and (max-width: 600px){
    .input-contenedor{
        width: auto;
        min-width: 40%;
    }
}